<section class="container-fluid jumbotron" style="background-color:#f57c00;color:white;padding-top:10%;" data-ng-init="main()">
    <h2 style="display:inline;background-color:white;color:#f57c00;margin-left:45%;padding:2%;">My</h2>
    <h2 style="display:inline;background-color:#f57c00;color:white">Clips</h2>
  <h3 style="margin-left:20%;margin-right:20%;text-align:center;font-style:italic;margin-top:5%">Create dynamic one time URLs</h3>
</section>
<section class="">
  <section style="display:inline;margin-left:31%;">
    <b>myclips.herokuapp.com/</b>
  </section>
  <input type="text" class="form-control" style="width:20%;margin-top:5%;display:inline;" placeholder="choose your url" ng-model="url" />
  <button class="btn" type="submit" style="background-color:#f57c00;color:white;" ng-click="redirect()">Go</button>
</section>
