<div class="container-fluid" data-ng-init="load()">
  <form>
    <div class="form-group"><br />
      <textarea class="form-control" required="required" rows="10" cols="10" placeholder="paste your data here" ng-hide="done" ng-model="content"></textarea><br />
      <button type="submit" class="btn btn-success" ng-click="submit()" ng-hide="done" ng-show="exists">Create</button>
    </div>
  </form>
  <form enctype="multipart/form-data">
    <div class="form-group"><br />
      <input type="file" accept="text/plain" id="file" ng-model="file"/>
      <button type="submit" ng-click="upload()">Upload</button>
    </div>
  </form>
  <img src="" height="200"/>
  <h3 ng-show="done">Done</h3>
</div>
