<div class="container-fluid" data-ng-init="loadURLTemplate()">
  <form>
    <div class="form-group"><br />
      <textarea class="form-control" required="required" rows="10" cols="10" placeholder="paste your data here" ng-hide="done" ng-model="content"></textarea><br />
      <button type="submit" class="btn btn-success" ng-click="submitText()" ng-hide="done" ng-show="exists">Create</button>
    </div>
  </form>
  <form enctype="multipart/form-data">
    <div class="form-group" ng-hide="done" ng-show="exists"><br />
      <input type="file" nv-file-select uploader="uploader" options="uploadOptions" id="file"/>
      <button type="submit" ng-click="uploadFile()">Upload</button>
    </div>
  </form>
  <img src="" height="200"/>
  <h3 ng-show="done">Done</h3>
</div>
